  /*#######################################################*/
 /* Vanaf hier begint de code van de verkregen template!  */
/*#######################################################*/

/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

/* Custom properties */
/* :root {
    --red:#FF0000;
    --dark-color:#ce0000;
    --black:#000000;
    --gray:#666;
    /* --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-color-section: #000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;   
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: AvenirMedium;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #FF0000;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-color-section: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
/* .sidebar.close{
    width: 88px;
} */

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
/* .sidebar.close .text{
    opacity: 0;
} */

.sidebar .text-long,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text-long{
    font-size: 17px;
    font-weight: 500;
    resize: none;
    opacity: 1;
}
/* .sidebar.close .text-long{
    resize: none;
    opacity: 0;
} */

/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 3rem;
    border-radius: 180px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

/* .sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
} */

.sidebar .menu{
    margin-top: 18px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.family-overview{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.family-overview .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

/* .sidebar.close ~ .family-overview{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
} */
body.dark .family-overview .text{
    color: var(--text-color);
}

  /*#############################################################*/
 /* Vanaf hier begint mijn eigen code van het Familieoverzicht! */
/*#############################################################*/


/* In het kinderoverzicht staan redelijk wat items die ik hier individueel aanspreek met behulp van selectieve selectoren. */

.child-overview {
    color: var(--text-color-section);
    padding: 30px 30px 50px 30px;
} 

.child-overview > ul {

    display: flex;
    overflow-x: scroll;
    list-style: none;
}

.child-overview > ul > li {
    background-color: var(--sidebar-color);
    padding: 1em;
    margin: 1em;
    min-width: 30em;
    box-shadow: 2px 2px 10px rgb(175, 175, 175);
    
    /* In de list items ga ik werken met grid, de grid start hier. Dit doe ik zodat ik alle elementen juist kan positioneren ter opzichte van elkaar.*/

    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-areas: 
        "titel titel"
        "afbeelding tekst";
}

.child-overview > ul > li > img {
    width: 100%;
    max-width: 100%;  
    min-width: 8em;
    flex-shrink: 0;
    
    align-self: center;
    grid-area: afbeelding;
}

.child-overview > ul > li > p {
    flex-shrink: 0;
    min-width: 10em;
    align-self: center;
    grid-area: tekst;
}

.child-overview > ul > li > h3 {
    grid-area: titel;
}

.child-overview > ul > li > ul > li {
    list-style: none;
    margin: 0.25em
}

.child-overview > ul > li > ul > li > a {
    color: white;
    text-decoration: none;
}

.child-overview > ul > li > ul > li:nth-of-type(2) {
    height: 80px;
    font-style: italic;
}

.child-overview > ul > li > ul > li:nth-of-type(3) {
    padding: 0.5em;
    border-radius: 10px;
    color: var(--sidebar-color);
    background-color: var(--primary-color);
}

h1 {
    line-height: 1em;
    font-size: 50px;
}
h2 {
    padding-top: 2em;
}

button {
    visibility: hidden;
    padding: 2em;
    border-radius: 50%;
    border: solid var(--primary-color);;
    background-color: var(--primary-color);
    scale: 0.175; 
    position: absolute;
    top: -50px;
    left: 200px;
    cursor: pointer;
}

#user-name {
    text-decoration: none;
    color: var(--text-color);
}

/* Vanaf hier ga ik de scrollbar vormgeven van de website, om zo de stijl van de rest te matchen. */

body::-webkit-scrollbar {
    visibility: hidden;
}

ul::-webkit-scrollbar {
    width: 20px;
}

ul::-webkit-scrollbar-thumb {
    border-style: solid;
    border-width: 4px;
    border-color: var(--sidebar-color);
    border-radius: 8px;
    background-color: var(--toggle-color);
}

ul::-webkit-scrollbar-track {
    border-radius: 6px; 
    background-color: var(--sidebar-color);
    box-shadow: 2px 2px 10px rgb(175, 175, 175);
}

/* De website moet ook responsive zijn voor verschillende schermen, dat proces begint hier. */

@media only screen and (max-width: 50em) {

    .family-overview{
        left: 25px;
        width: 100%;
    }

    .child-overview {
        padding: 15px 25px;
    } 

    .child-overview > ul > li {
        background-color: var(--sidebar-color);
        padding: 1em;
        margin: 1em;
        min-width: 15em;
    
        /* In de list items ga ik werken met grid, de grid start hier. */
    
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 4fr 4fr;
        grid-template-areas: 
            "titel"
            "afbeelding"
            "tekst";
    }
    
    .child-overview > ul > li > ul > li:nth-of-type(2) {
        height: 130px;
    }

    button {
        visibility: visible;
    }

    .sidebar {
        transform: translateX(-15em);
    }

    .sidebar.moving {
        transform: translateX(0em);
    }

}

  /*#################################*/
 /* Dit is het einde van mijn code! */
/*#################################*/