  /*#######################################################*/
 /* Vanaf hier begint de code van de verkregen template!  */
/*#######################################################*/

/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

body {
    background-color: #E4E9F7;
    font-family: AvenirMedium;
}

  /*####################################*/
 /* Vanaf hier begint mijn eigen code! */
/*####################################*/

body img {
    margin: 0.5em;
}

h1 {
    text-align: center;
}

.profielen {
    text-align: center;
}

ul {    
    display: inline-block;
    text-align: left;
    list-style: none;
}

li {
    padding: 1em;
    margin: 1em;
    display: inline;
    text-align: center;
    background-color: #F6F5FF;
}

li img {
    max-width: 10em;
    border-radius: 10em;
}

li a {
    text-decoration: none;
}